{% extends 'base.html.twig' %}

{% block title %}Hello PlayDeckController!{% endblock %}

{% block body %}
<h1>{{ deck.titre }}</h1>

{# {{ dump(positionCartesByUtilisateur) }} #}

{% set CartesByUtilisateur = [] %}

{% for positionCarte in positionCartesByUtilisateur %}
    {% set CartesByUtilisateur = CartesByUtilisateur|merge([positionCarte.carte]) %}
{% endfor %}

<div class="tabs">
    <div class="tab-buttons">
      <button class="tab-button active" data-tab="tab1">Onglet 1</button>
      <button class="tab-button" data-tab="tab2">Onglet 2</button>
      <button class="tab-button" data-tab="tab3">Onglet 3</button>
    </div>
    <div class="tab-contents">
      <div class="tab-content active" data-tab="tab1">

        {% set zyx = false %}

        {% for carte in  deck.cartes %} 
            {{carte.question}}     
            {# {% if carte in CarteByUtilisateur %}
                {% set zyx = true %}
                {{ carte.question }}<br>
            {% else %}
                {{ carte.question }}<br>
            {% endif %} #}
        {% endfor %}
        {% if not zyx %} pas de carte dans cet onglet {% endif %}

      </div>
      <div class="tab-content" data-tab="tab2">
        {%set randomCarte = random(deck.cartes)%}
        {{randomCarte.question }}
      </div>
      <div class="tab-content" data-tab="tab3">
        Contenu de l'onglet 3
      </div>
    </div>
  </div>

{% endblock %}
