{% extends 'base.html.twig' %}

{% block title %}Hello PlayDeckController!{% endblock %}

{% block body %}

    {# {{ dump(positionCartesByUtilisateur) }}  #}

     {# Renvoie un élément aléatoire sans jamais retourner un élément précédemment retourné #}


    {# {% set my_array = [1, 2, 3] %}

    {% for row in my_array %}
    {% for row1 in my_array %}
    {% for row2 in my_array %}
    {{ randomWithoutDuplicates(my_array, "arrayTest") }}
    {% endfor %}
    {% endfor %}
    {% endfor %} #}



    {% set cartesLevel0 = [] %}
    {% set cartesLevel1 = [] %}
    {% set cartesLevel2 = [] %}

    {% for carte in cartesDeckInPositionCarte %}

        {% if carte.position == 0 %}
            {% set cartesLevel0 = cartesLevel0|merge([carte]) %}
        {% elseif carte.position == 1 %}
            {% set cartesLevel1 = cartesLevel1|merge([carte]) %}
        {% elseif carte.position == 2 %}
            {% set cartesLevel2 = cartesLevel2|merge([carte]) %}
        {% endif %} 

    {% endfor %} 

    <div id="container">
        <div id="play-deck-zone">

            <div class="inline">

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    <i class="big fa-solid fa-print"></i>
                </button>
                <h1><a href="{{ path('deck_show', {'id': deck.id} ) }}">{{ deck.titre }}</a></h1>
                {# <a href="{{ path('ajouter_favori', {'id': deck.id}) }}"><i class="fa-solid fa-heart-circle-plus"></i></a> #}
                
                {% for favori in app.user.favoris|filter(favori => favori.deck == deck) %}
                    <i onclick="addFavori(this)" data-deck-id="{{ deck.id }}" data-is-favori="1" class="add-favori red big fa-solid fa-heart"></i>
                {% else %}
                    <i onclick="addFavori(this)" data-deck-id="{{ deck.id }}" data-is-favori="0" class="add-favori big fa-solid fa-heart-circle-plus"></i>   
                {% endfor %}     
                
                {# <button id="add-favori-btn" data-deck-id="{{ deck.id }}">Ajouter aux favoris AJAX</button> #}
            </div>
            <div>
                {% if deck.utilisateur %}
                par <a href="{{ path('show_utilisateur', {'id': deck.utilisateur.id}) }}">{{deck.utilisateur.pseudo}}</a> | description :{{deck.description}}
                {% else %}
                <span>par : utilisateur supprimmé</span>
                {% endif %}
            </div>
            <div>
                {% if deck.utilisateur == app.user %}
                    <a class="btn btn-link" href="{{ path('deck_edit', {'id': deck.id, 'isClone': 0 }) }}"><i class="fa-solid fa-pen-to-square fa-lg"></i>Editer</a>  | 
                {% endif %} 
                <a class="btn btn-link" href="{{ path('deck_edit', {'id': deck.id, 'isClone': 1 }) }}"><i class="fa-solid fa-clone fa-lg"></i>Cloner</a>  |  
                <a class="btn btn-link" href="{{ path('retry_deck', {'id': deck.id}) }}"><i class="fa-solid fa-rotate-left fa-lg"></i>Recommencer</a>  |  
                {# <a href="#"><i class="fa-regular fa-star-half-stroke fa-lg"></i>Notez ce deck</a> #}
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#noteModal">
                    <i class="fa-regular fa-star-half-stroke fa-lg"></i>Notez ce deck
                </button>
            </div>
            <div id="tabs-play-deck">
                <div class="tab-buttons">
                    <button class="tab-button grey" data-tab="tab1"><span class="active" data-tab="tab1">Cartes non jouées : </span><span class="nbr-carte">{{cartesDeckNotInPositionCarte|length}}</span></button>
                    <button class="tab-button red" data-tab="tab2"><span class="" data-tab="tab2">Cartes non connues : </span><span class="nbr-carte">{{cartesLevel0|length}}</span></button>
                    <button class="tab-button blue active" data-tab="tab3"><span class="" data-tab="tab3">Cartes presque connues : </span><span class="nbr-carte">{{cartesLevel1|length}}</span></button>
                    <button class="tab-button green" data-tab="tab4"><span class="" data-tab="tab4">Cartes connues : </span><span class="nbr-carte">{{cartesLevel2|length}}</span></button>
                </div>

                <div class="container-tab-contents">
                    <div class="tab-content" data-tab="tab1">
                        

                        {% include 'play_deck/cartes_tab_view.html.twig' with {'cartes': cartesDeckNotInPositionCarte, 'nomSession': "sessionTab1" } %}
                         

                    </div>
                    <div class="tab-content" data-tab="tab2">

                        {% include 'play_deck/cartes_tab_view.html.twig' with {'cartes': cartesLevel0, 'nomSession': "sessionTab2" } %}
                    
                    </div>
                    <div class="tab-content active" id="bloc1" data-tab="tab3">

                        {% include 'play_deck/cartes_tab_view.html.twig' with {'cartes': cartesLevel1, 'nomSession': "sessionTab3" } %}

                    </div>
                    <div class="tab-content" data-tab="tab4">


                        {% include 'play_deck/cartes_tab_view.html.twig' with {'cartes': cartesLevel2, 'nomSession': "sessionTab4" } %}
                        

                    </div>
                    
                        <i id="btn-shuffle" class="fa-solid fa-shuffle fa-2xl"></i>
                    
                </div>
            </div>

            <div id="zone-play-btns">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <button type="button" onclick="flip()" class="btn btn-primary active" id="btn-see-response">
                    Montrer la réponse
                </button>

                {% set nbrCarte = deck.cartes|length %}
                {% set nbrNoLevel = cartesDeckNotInPositionCarte|length %}
                {% set nbrLevel0 = cartesLevel0|length %}
                {% set nbrLevel1 = cartesLevel1|length %}
                {% set nbrLevel2 = cartesLevel2|length %}

                <div id="btns-response" >
                    <button type="button" data-deck-id="{{ deck.id }}" onclick="addPositionCarte('tab2',0,this);" class="btn btn-response red">
                        Je ne sais pas
                    </button>
                    <button type="button" data-deck-id="{{ deck.id }}" onclick="addPositionCarte('tab3',1,this);" class="btn btn-response blue">
                        Je sais un peu
                    </button>
                    <button type="button" data-deck-id="{{ deck.id }}" onclick="addPositionCarte('tab4',2,this);" class="btn btn-response green">
                        Je sais
                    </button>
                    {# <button id="add-position-btn" data-carte-id="{{ carteActif.id }}"  data-position-id="5">Ajouter une carte AJAX {{ carteActif.question }}</button> #}
                </div>
            </div>

            {# <button id="mon_bouton">clickme</button> #}
            <div>
                <div data-deck-id="{{ deck.id }}" class="progress-deck large" >

                    {% if nbrCarte != 0  %}
                        <div class="no-level" {{'style=width:'~ 100 * nbrNoLevel / nbrCarte ~'%'}}></div>
                        <div class="level-0" {{'style=width:'~ 100 * nbrLevel0 / nbrCarte ~'%'}}></div>
                        <div class="level-1" {{'style=width:'~ 100 * nbrLevel1 / nbrCarte ~'%'}}></div>
                        <div class="level-2" {{'style=width:'~ 100 * nbrLevel2 / nbrCarte ~'%'}}></div>
                    {% endif %}
                </div>
            </div>
        </div>















        <div id="select-deck-zone">
            <div class="tabs-select-deck">
                <div class="tab-buttons">
                    <button class="tab-button active" data-tab="tab1"><span class="active" data-tab="tab1">Decks recement joués</span></button>
                    <button class="tab-button" data-tab="tab2"><span class="" data-tab="tab2">Decks en favoris</span></button>
                    <button class="tab-button" data-tab="tab3"><span class="" data-tab="tab3">Mes decks</span></button>
                </div>

                <div class="container-tab-contents">
                    <div class="tab-content active" data-tab="tab1">

                        {% for accesDeck in utilisateur.accesDecks %}

                            {% include 'item_deck.html.twig' with {'deck': accesDeck.deck } %}

                        {% else %}
                            No decks have been found.
                        {% endfor %}

                    </div>
                    <div class="tab-content" data-tab="tab2">

                        <div id="list-favorites">

                            {% for favori in utilisateur.favoris %}

                                {% include 'item_deck.html.twig' with {'deck': favori.deck } %}

                            {% else %}
                                No decks have been found.
                            {% endfor %}
                        </div>
                    
                    </div>
                    <div class="tab-content" data-tab="tab3">

                        {% for deck in utilisateur.decks %}
                            
                            {% include 'item_deck.html.twig' with {'deck': deck } %}

                        {% else %}
                            No decks have been found.
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Paramêtres de l'impression</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <form id="formulairePdf" action="{{ path('pdf', { 'id': deck.id}) }}" target="_blank" method="GET">

                    <label for="rectX">Nombre de carte horizontal:</label>
                    <input type="number" name="X" id="rectX" value="4"><br>
                
                    <label for="rectY">Nombre de carte vertical:</label>
                    <input type="number" name="Y" id="rectY" value="3"><br>
                
                    <canvas id="myCanvas"></canvas>
            
            </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary" form="formulairePdf">Générer PDF</button>
        </div>
      </div>
    </div>
  </div>




  <!-- Modal Note-->
  <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Laisser une évaluation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            {{ form_start(form) }}
                <div style="display: none">
                    {{ form_widget(form.note) }}
                </div>
                <div class="star-rating">
                    {% for i in 1..5 %}
                        {% if i <= form.note.vars.value %}
                            <span class="fa fa-star checked fa-xl" data-rating="{{ i }}"></span>
                        {% else %}
                            <span class="fa fa-star fa-lg" data-rating="{{ i }}"></span>
                        {% endif %}
                    {% endfor %}
                </div>
                <br>
                <button type="submit" class="btn btn-info">Valider</button>
            {{ form_end(form) }}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  

	<script>
		// Récupération des inputs
		var rectXInput = document.getElementById("rectX");
		var rectYInput = document.getElementById("rectY");

		// Récupération du canvas
		var canvas = document.getElementById("myCanvas");

		// Définition de la largeur et de la hauteur du canvas
		canvas.width = 210;
		canvas.height = 297;

		// Récupération du contexte de dessin en 2D
		var context = canvas.getContext("2d");

		// Fonction de dessin du rectangle
		function drawRect() {
			// Récupération des valeurs des inputs
			var rectX = parseInt(rectXInput.value);
			var rectY = parseInt(rectYInput.value);
			var rectWidth = canvas.width/rectX;
			var rectHeight = canvas.height/rectY;

			// Dessin du rectangle
			context.clearRect(0, 0, canvas.width, canvas.height); // Effacer le canvas
			context.fillStyle = "red";

            for (var i = 0; i < rectX; i++) {
                for (var y = 0; y < rectY; y++) {
			context.strokeRect(rectWidth*i, rectHeight*y, rectWidth, rectHeight);
                }
            }
		}

		// Dessin initial du rectangle
		drawRect();

		// Écoute des changements sur les inputs
		rectXInput.addEventListener("change", drawRect);
		rectYInput.addEventListener("change", drawRect);
	</script>

{% endblock %}
