{% extends 'base.html.twig' %}

{% block title %}Hello PlayDeckController!{% endblock %}

{% block body %}

    {# {{ dump(positionCartesByUtilisateur) }}  #}

     {# Renvoie un élément aléatoire sans jamais retourner un élément précédemment retourné #}


    {% set my_array = [1, 2, 3] %}

    {% for row in my_array %}
    {% for row1 in my_array %}
    {% for row2 in my_array %}
    {{ random_without_duplicates(my_array, "arrayTest") }}
    {% endfor %}
    {% endfor %}
    {% endfor %}



    {% set cartesLevel0 = [] %}
    {% set cartesLevel1 = [] %}
    {% set cartesLevel2 = [] %}

    {% for carte in cartesDeckInPositionCarte %}

        {% if carte.position == 0 %}
            {% set cartesLevel0 = cartesLevel0|merge([carte]) %}
        {% elseif carte.position == 1 %}
            {% set cartesLevel1 = cartesLevel1|merge([carte]) %}
        {% elseif carte.position == 2 %}
            {% set cartesLevel2 = cartesLevel2|merge([carte]) %}
        {% endif %} 

    {% endfor %} 

    <div id="container">
        <div id="play-deck-zone">
            <h1>{{ deck.titre }}</h1>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Imprimmer le deck
            </button><a href="{{ path('ajouter_favori', {'id': deck.id}) }}">Ajouter aux favoris</a>
            <button id="add-favori-btn" data-recette-id="{{ deck.id }}">Ajouter aux favoris AJAX</button>
            <div id="tabs-play-deck">
                <div class="tab-buttons">
                    <button class="tab-button grey" data-tab="tab1"><span class="active" data-tab="tab1">Cartes non jouées : </span>{{cartesDeckNotInPositionCarte|length}}</button>
                    <button class="tab-button red" data-tab="tab2"><span class="" data-tab="tab2">Cartes non connues : </span>{{cartesLevel0|length}}</button>
                    <button class="tab-button blue active" data-tab="tab3"><span class="" data-tab="tab3">Cartes à revoir : </span>{{cartesLevel1|length}}</button>
                    <button class="tab-button green" data-tab="tab4"><span class="" data-tab="tab4">Cartes connues : </span>{{cartesLevel2|length}}</button>
                </div>

                <div class="container-tab-contents">
                    <div class="tab-content" data-tab="tab1">
                        
                        {# {% block block_tab1 %} #}
                            {% if cartesDeckNotInPositionCarte|length != 0 %}
                            <div class="card-container">
                                <div class="card">
                                    {% set randomCartesDeckNotInPositionCarte = random_without_duplicates(cartesDeckNotInPositionCarte, "sessionTab1")%}

                                    <div class="question">
                                        <div class="header-card"><span>Question:</span></div>
                                        <div class="body-card"><p>{{ randomCartesDeckNotInPositionCarte.question }}</p></div>
                                    </div>
                                    <div class="response">
                                        <div class="header-card"><span>Reponse:</span></div>
                                        <div class="body-card"><p>{{ randomCartesDeckNotInPositionCarte.reponse }}</p></div>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                                <div class="missing-card">
                                    Pas de cartes dans cet onglet !
                                </div>
                            {% endif %}
                        {# {% endblock %} #}
                         

                    </div>
                    <div class="tab-content" data-tab="tab2">

                        {# {% block block_tab2 %} #}
                            {% if cartesLevel0|length != 0 %}
                            <div class="card-container">
                                <div class="card">
                                    {% set randomCarteLevel0 = random_without_duplicates(cartesLevel0, "sessionTab2")%}
                                    <div class="question">
                                        <div class="header-card"><span>Question:</span></div>
                                        <div class="body-card"><p>{{ randomCarteLevel0.question }}</p></div>
                                    </div>
                                    <div class="response">
                                        <div class="header-card"><span>Reponse:</span></div>
                                        <div class="body-card"><p>{{ randomCarteLevel0.reponse }}</p></div>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                                <div class="missing-card">
                                    Pas de cartes dans cet onglet !
                                </div>
                            {% endif %}
                        {# {% endblock %}  #}
                    
                    </div>
                    <div class="tab-content active" id="bloc1" data-tab="tab3">

                        {# {% block block_tab3 %} #}
                            {% if cartesLevel1|length != 0 %}
                            <div class="card-container">
                                <div class="card">
                                    {% set randomCarteLevel1 = random_without_duplicates(cartesLevel1, "sessionTab3")%}
                                    <div class="question">
                                        <div class="header-card"><span>Question:</span></div>
                                        <div class="body-card"><p>{{ randomCarteLevel1.question }}</p></div>
                                    </div>
                                    <div class="response">
                                        <div class="header-card"><span>Reponse:</span></div>
                                        <div class="body-card"><p>{{ randomCarteLevel1.reponse }}</p></div>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="missing-card">
                                Pas de cartes dans cet onglet !
                            </div>
                            {% endif %} 
                        {# {% endblock %} #}

                    </div>
                    <div class="tab-content" data-tab="tab4">

                        {# {% block block_tab4 %} #}
                            {% if cartesLevel2|length != 0 %}
                            <div class="card-container">
                                <div class="card">
                                    {% set randomCarteLevel2 = random_without_duplicates(cartesLevel2, "sessionTab4")%}
                                    <div class="question">
                                        <div class="header-card"><span>Question:</span></div>
                                        <div class="body-card"><p>{{ randomCarteLevel2.question }}</p></div>
                                    </div>
                                    <div class="response">
                                        <div class="header-card"><span>Reponse:</span></div>
                                        <div class="body-card"><p>{{ randomCarteLevel2.reponse }}</p></div>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="missing-card">
                                Pas de cartes dans cet onglet !
                            </div>
                            {% endif %} 
                        {# {% endblock %} #}

                    </div>
                    {# <button type="button" class="btn btn-primary" id="bouton-shuffle">
                        autre question
                    </button> #}
                </div>
            </div>

            <button type="button" onclick="flip()" class="btn btn-primary" id="btn-response">
                Montrer la réponse
            </button>
            <button type="button" class="btn btn-primary" id="btn-shuffle">
                autre question
            </button>
        </div>


        <div id="select-deck-zone">
            <div class="tabs-select-deck">
                <div class="tab-buttons">
                    <button class="tab-button active" data-tab="tab1"><span class="active" data-tab="tab1">Decks recement joués</span></button>
                    <button class="tab-button" data-tab="tab2"><span class="" data-tab="tab2">Decks en favoris</span></button>
                    <button class="tab-button" data-tab="tab3"><span class="" data-tab="tab3">Mes decks</span></button>
                </div>

                <div class="container-tab-contents">
                    <div class="tab-content active" data-tab="tab1">

                        {% for accesDeck in utilisateur.accesDecks %}
                            "{{ accesDeck.deck.titre }}" de la catégorie: {{ accesDeck.deck.categorie.nom }}  <a href="{{ path('app_play_deck', {'idUtilisateur': utilisateur.id,'idDeck': accesDeck.deck.id} ) }}">Jouer avec ce deck</a>   <br>
                        {% else %}
                            No decks have been found.
                        {% endfor %}

                    </div>
                    <div class="tab-content" data-tab="tab2">

                        {% for favori in utilisateur.favoris %}
                            "{{ favori.deck.titre }}" de la catégorie: {{ favori.deck.categorie.nom }}  <a href="{{ path('app_play_deck', {'idUtilisateur': utilisateur.id,'idDeck': favori.deck.id} ) }}">Jouer avec ce deck</a>   <br>
                        {% else %}
                            No decks have been found.
                        {% endfor %}
                    
                    </div>
                    <div class="tab-content" data-tab="tab3">

                        {% for deck in utilisateur.decks %}
                            "{{ deck.titre }}" de la catégorie: {{ deck.categorie.nom }}  <a href="{{ path('app_play_deck', {'idUtilisateur': utilisateur.id,'idDeck': deck.id} ) }}">Jouer avec ce deck</a>   <br>
                        {% else %}
                            No decks have been found.
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Paramêtres de l'impression</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <form id="formulairePdf" action="{{ path('pdf', { 'id': deck.id}) }}" target="_blank" method="GET">

                    <label for="rectX">Nombre de carte horizontal:</label>
                    <input type="number" name="X" id="rectX" value="4"><br>
                
                    <label for="rectY">Nombre de carte vertical:</label>
                    <input type="number" name="Y" id="rectY" value="3"><br>
                
                    <canvas id="myCanvas"></canvas>
            
            </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" form="formulairePdf">Générer PDF</button>
        </div>
      </div>
    </div>
  </div>

  

	<script>
		// Récupération des inputs
		var rectXInput = document.getElementById("rectX");
		var rectYInput = document.getElementById("rectY");

		// Récupération du canvas
		var canvas = document.getElementById("myCanvas");

		// Définition de la largeur et de la hauteur du canvas
		canvas.width = 210;
		canvas.height = 297;

		// Récupération du contexte de dessin en 2D
		var context = canvas.getContext("2d");

		// Fonction de dessin du rectangle
		function drawRect() {
			// Récupération des valeurs des inputs
			var rectX = parseInt(rectXInput.value);
			var rectY = parseInt(rectYInput.value);
			var rectWidth = canvas.width/rectX;
			var rectHeight = canvas.height/rectY;

			// Dessin du rectangle
			context.clearRect(0, 0, canvas.width, canvas.height); // Effacer le canvas
			context.fillStyle = "red";

            for (var i = 0; i < rectX; i++) {
                for (var y = 0; y < rectY; y++) {
			context.strokeRect(rectWidth*i, rectHeight*y, rectWidth, rectHeight);
                }
            }
		}

		// Dessin initial du rectangle
		drawRect();

		// Écoute des changements sur les inputs
		rectXInput.addEventListener("change", drawRect);
		rectYInput.addEventListener("change", drawRect);
	</script>

{% endblock %}
