{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
      <div class="success alert-success mt-4">
        {{ message }}
      </div>
    {% endfor %}

   <h1>Liste des utilisateurs</h1>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="deck_cartes">
            {% set nbrUtilisateur = 0 %}
            {% for utilisateur in utilisateurs %}
            {% set nbrUtilisateur = nbrUtilisateur +1 %}
                <tr class="carte">
                    <td data-label="#">
                        {{ nbrUtilisateur }}
                    </td>
                    <td data-label="Pseudo : ">
                    
                        <a href="{{ path('show_utilisateur', {'id': utilisateur.id}) }}">{{ utilisateur.pseudo }}</a>
                        
                    </td>
                    <td data-label="Email : ">
    
                        {{ utilisateur.email }}
                        
                    </td>
                    <td data-label="">
    
                        <a class="btn btn-danger delete-link" href="{{ path('delete_user', {'id': utilisateur.id}) }}" data-confirm="Êtes-vous sûr de vouloir supprimer l'utilisateur {{ utilisateur.pseudo }}?">Supprimer cet utilisateur</a>
                        
                    </td>
                </tr>
            {% else %}
                Aucun utilisateur n'a été trouvé.
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('show_decks_orphans') }}">Voir les decks des utilisateurs supprimés</a>
    

    <script>
        const deleteLinks = document.querySelectorAll('.delete-link');
        deleteLinks.forEach(link => {
            link.addEventListener('click', event => {
                const confirmMessage = link.getAttribute('data-confirm');
                if (!confirm(confirmMessage)) {
                    event.preventDefault();
                }
            });
        });
    </script>
{% endblock %}
