{% extends 'base.html.twig' %}

{% block title %}Compte utilisateur{% endblock %}

{% block body %}

    {% for message in app.flashes('warning') %}
      <div class="alert alert-warning mt-4">
        {{ message }}
      </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
      <div class="success alert-success mt-4">
        {{ message }}
      </div>
    {% endfor %}


    <p>Votre pseudo : {{ user.pseudo }}</p>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pseudoModal">
        Changer votre pseudo
    </button>
    <br><br>
    <p>
      Votre email :  {{ user.email }}
        {# Date d'inscription : {{ user.dateInscription | date('d-m-Y') }} #}
    </p>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#emailModal">
      Changer votre email
    </button>
    <br><br>
    <a class="btn btn-primary" href="{{ path('app_forgot_password_request') }}">Changer votre mot de passe</a>
    <br><br>
    <a class="btn btn-primary" href="{{ path('show_utilisateur', {'id': user.id}) }}">Voir mes decks</a>





    <div class="modal fade" id="pseudoModal" tabindex="-1" role="dialog" aria-labelledby="pseudoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Formulaire de modification du pseudo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              {{ form(form) }}
          
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>

{% endblock %}