{% extends 'base.html.twig' %}

{% block title %}Compte utilisateur{% endblock %}

{% block body %}

    {% for message in app.flashes('warning') %}
      <div class="alert alert-warning mt-4">
        {{ message }}
      </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
      <div class="success alert-success mt-4">
        {{ message }}
      </div>
    {% endfor %}

    <h1>Administration de votre profil utilisateur</h1>
    <br>
    <h3>Votre pseudo : {{ user.pseudo }}</h3>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pseudoModal">
        Changer mon pseudo
    </button>
    <br><br>
    <h3>
      Votre email :  {{ user.email }}
        {# Date d'inscription : {{ user.dateInscription | date('d-m-Y') }} #}
    </h3>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#emailModal">
      Changer mon email
    </button>
    <br><br>
    <a class="btn btn-primary" href="{{ path('app_forgot_password_request') }}">Changer mon mot de passe</a>
    <br><br>
    <a class="btn btn-primary" href="{{ path('show_utilisateur', {'id': user.id}) }}">Voir mes decks</a>
    <br><br>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAccountModal">
      Supprimer mon compte
    </button>

    <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Demande de confimation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            {{ form(formDeleteAccount) }}
        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="pseudoModal" tabindex="-1" role="dialog" aria-labelledby="pseudoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Formulaire de modification du pseudo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              {{ form(formUpdatePseudo) }}
          
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>

{% endblock %}