{% extends 'base.html.twig' %}

{% block title %}Détail d'un utilisateur{% endblock %}

{% block body %}

    <h1>{{ utilisateur.pseudo }}</h1>
    <p>
        {{ utilisateur.email }} <br>
        {# Date d'inscription : {{ utilisateur.dateInscription | date('d-m-Y') }} #}
    </p>

    <h2>Liste decks</h2>
    <p>
        {% for deck in utilisateur.decks %}
            "{{ deck.titre }}" de la catégorie: {{ deck.categorie.nom }}<br>
            
        {% else %}
            No decks have been found.
        {% endfor %}
    </p>

{% endblock %}
